html {
  height: 100%;
  width: 100%;
  background-color: lightslategray;
}

.Title{
  line-height: 300%;
  width:fit-content;
  text-align: center;
  font-size: 300%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  border-radius: 0%;
  color: white;
}

.Container{
  align-items: center top;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5px;
}

.MainExpl{
  font-size: 200%;
  max-width: 100%;
  max-height: 100%;
  background-color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Dannyimg{
  max-width: 100%;
  max-height: 100%;
  background-color: darkred;
}